<launch>
  <!-- spawn the arm and model -->
  <group if="$(optenv MUSCLE 0)">
    <group if="$(optenv BIOTAC_HAND 0)">
      <group if="$(optenv THREE_FINGER 0)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/sr_three_finger_edc_muscle_biotac.urdf.xacro'" />
      </group>
      <group unless="$(optenv THREE_FINGER 0)">
        <param if="$(optenv SIMULATED 0)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_muscle_biotac.urdf.xacro'" />
        <param unless="$(optenv SIMULATED 0)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_edc_muscle_biotac.urdf.xacro'" />
      </group>
    </group>
    <group unless="$(optenv BIOTAC_HAND 0)">
      <group if="$(optenv LEFT_HAND 0)">
        <param if="$(optenv SIMULATED 0)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_left_muscle.urdf.xacro'" />
        <param unless="$(optenv SIMULATED 0)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_left_edc_muscle.urdf.xacro'" />
      </group>
      <group unless="$(optenv LEFT_HAND 0)">
        <param if="$(optenv SIMULATED 0)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_muscle.urdf.xacro'" />
        <param unless="$(optenv SIMULATED 0)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_edc_muscle.urdf.xacro'" />
      </group>
    </group>
  </group>
  <group unless="$(optenv MUSCLE 0)">
    <group if="$(optenv ONE_FINGER 0)">
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/sr_one_finger_motor.urdf.xacro'" />
    </group>
    <group unless="$(optenv ONE_FINGER 0)">
      <group if="$(optenv THREE_FINGER 0)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/sr_three_finger_motor.urdf.xacro'" />
      </group>
      <group unless="$(optenv THREE_FINGER 0)">
        <group if="$(optenv ELLIPSOID 0)">
          <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_motor_ellipsoid.urdf.xacro'" />
        </group>
        <group unless="$(optenv ELLIPSOID 0)">
          <group if="$(optenv THFFRF_ELLIPSOID 0)">
            <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_motor_th_ff_rf_ellipsoid.urdf.xacro'" />
          </group>
          <group unless="$(optenv THFFRF_ELLIPSOID 0)">
            <group if="$(optenv FF_BIOTAC 0)">
              <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_motor_ff_biotac.urdf.xacro'" />
            </group>
            <group unless="$(optenv FF_BIOTAC 0)">
              <group if="$(optenv BIOTAC_HAND 0)">
                <group if="$(optenv LEFT_HAND 0)">
                  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_left_motor_biotac.urdf.xacro'" />
                </group>
                <group unless="$(optenv LEFT_HAND 0)">
                  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_motor_biotac.urdf.xacro'" />
                </group>
              </group>
              <group unless="$(optenv BIOTAC_HAND 0)">
                <group if="$(optenv LEFT_HAND 0)">
                  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_left_motor.urdf.xacro'" />
                </group>
                <group unless="$(optenv LEFT_HAND 0)">
		  <group if="$(optenv BTSP_HAND 0)">
                    <param name="robot_description"
			   command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_motor_btsp.urdf.xacro'" />
		  </group>
		  <group unless="$(optenv BTSP_HAND 0)">
                    <param name="robot_description"
			   command="$(find xacro)/xacro --inorder '$(find sr_description)/robots/shadowhand_motor.urdf.xacro'" />
                  </group>
                </group>
              </group>
            </group>
          </group>
        </group>
      </group>
    </group>
  </group>
  <!-- publish joint values, open gui if use_gui=True -->
  <group unless="$(optenv URDF_ONLY 0)">
    <node name="joint_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="True" />
    </node>
    <!-- publish transforms of all robot links -->
    <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="10.0" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sr_description)/test/hand_test.rviz" />
  </group>
</launch>
