<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="thproximal_gazebo" params="prefix">

  <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
  <gazebo reference="${prefix}thproximal">
      <sensor type="contact" name="${prefix}thproximal_contact">
        <always_on>1</always_on>
        <update_rate>1000.0</update_rate>
        <contact>
          <collision>${prefix}thproximal_collision</collision>
          <topic>${prefix}thproximal_collision</topic>
        </contact>
        <plugin name="${prefix}thproximal_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <frameName>${prefix}thproximal</frameName>
          <updateRate>100.0</updateRate>
          <bumperTopicName>contacts/${prefix}th/proximal</bumperTopicName>
        </plugin>
      </sensor>
      <selfCollide>false</selfCollide>
       
    </gazebo>
  </xacro:macro>
</robot>
