<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- muscletrans is true for muscle transmission or false for motor transmission -->
    <!-- prefix can be anything but usually is "r_" or  "l_" for right and left hands distinction -->
    <xacro:macro name="thproximal_transmission" params="muscletrans prefix">

        <!-- muscle hand -->
        <xacro:if value="${muscletrans}">
            <transmission name="${prefix}thproximal_transmission">
                <type>sr_mechanism_model/SimpleTransmissionForMuscle</type>
                <actuator name="${prefix}THJ4">
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
                <joint name="${prefix}THJ4">
                    <hardwareInterface>EffortJointInterface</hardwareInterface>
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                </joint>
            </transmission>
        </xacro:if>
        <!-- motor hand -->
        <xacro:unless value="${muscletrans}">
            <transmission name="${prefix}thproximal_transmission">
                <type>sr_mechanism_model/SimpleTransmission</type>
                <actuator name="${prefix}THJ4">
                    <mechanicalReduction>1</mechanicalReduction>
                </actuator>
                <joint name="${prefix}THJ4">
                    <hardwareInterface>EffortJointInterface</hardwareInterface>
                    <hardwareInterface>PositionJointInterface</hardwareInterface>
                </joint>
            </transmission>
        </xacro:unless>
    </xacro:macro>
</robot>
