<?xml version="1.0"?>

<launch>

  <arg name="prefix" default="right" />
  <arg name="parent" default="world" />
  <arg name="gui" default="True" />


  <!-- Load the urdf -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find arm_hand_retargeting)/urdf/upload_both_hands.urdf.xacro'" />
  <param name="use_gui" value="$(arg gui)" />

  <!-- Start publishers -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_hand_retargeting)/rviz/urdf.rviz" />


</launch>
