<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://www.ros.org/wiki/xacro"
name="shadowhand_motor">
  <xacro:include filename="$(find sr_description)/materials.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/other/xacro/gazebo/gazebo.urdf.xacro" />
  <!-- hand with cylindrical base drifts in gazebo, attach it to the world -->
  <link name="world" />
  <joint name="rh_world_joint" type="fixed">
    <parent link="world" />
    <child link="rh_forearm" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  <!-- C6 hand with BioTAC sensor
  (C) 2012 fnh, hendrich@informatik.uni-hamburg.de
-->
  <xacro:shadowhand muscletrans="false" muscle="false" bio="true" bt_sp="false"
  ubi="false" eli="false" reflect="1.0" prefix="rh_" lf="true" />
</robot>
