<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://www.ros.org/wiki/xacro"
name="shadowhand_motor">
  <xacro:include filename="$(find sr_description)/materials.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/hand_lite.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/other/xacro/gazebo/gazebo.urdf.xacro" />
  <!-- hand with cylindrical base drifts in gazebo, attach it to the world -->
  <link name="world" />
  <joint name="lh_world_joint" type="fixed">
    <parent link="world" />
    <child link="lh_forearm" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  <xacro:shadowhand muscletrans="false" muscle="false" bio="false" bt_sp="false"
  ubi="false" eli="false" reflect="-1.0" prefix="lh_" extra_lite="true"/>
</robot>
