<?xml version="1.0"?>

<launch>

  <!-- Start Mocap system transmission -->
  <include file="$(find arm_hand_capture)/launch/load_vrpn.launch">
    <arg name="server" value="192.168.66.1" />
  </include>


  <!--Start dataglove transmission -->
  <include file="$(find rosserial_server)/launch/socket.launch" />


  <!-- Synchronize the mocap data and glove data(and transform to z-up frames) -->
  <node name="sync_state_without_image_node" pkg="arm_hand_capture" type="sync_state_without_image" output="screen" />


  <!-- Unpack the synced data and broadcast the tf, for Visualization -->
  <node name="unpack_synced_message_without_image_node" pkg="arm_hand_capture" type="unpack_synced_message_without_image" output="screen" />


  <!-- Start Rviz for visualization -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_hand_capture)/rviz/mocap_tf.rviz" /> -->


  <!-- For visualization -->
  <node name="arm_viz_node" pkg="arm_hand_capture" type="load_visualization_markers_without_image" />


</launch>
