<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro"
             name="human_hand_model" >

  <xacro:include filename="$(find arm_hand_retargeting)/urdf/human_hand_model.urdf.xacro" />


  <!-- require a link to attach to -->
  <!--link name="right_hand" /--> 
  <xacro:human_hand_model prefix="right" parent="right_hand" />

  <!--link name="left_hand" /-->
  <xacro:human_hand_model prefix="left" parent="left_hand" />


</robot>





