<?xml version="1.0"?>

<launch>

  <!-- Launch Gazebo -->
  <!--include file="$(find ur_gazebo)/launch/dual_ur5_arm_world.launch" /-->

  <!-- Load flash model -->
  <!--include file="$(find ur_description)/launch/load_flash.launch" /-->

  <!-- Launch RViz with MoveIt -->
  <include file="$(find dual_ur5_moveit_config)/launch/demo.launch" />

  <!-- Start a service to add Time Parameterization -->
  <node name="start_TOTG_service" pkg="raw_totg" type="add_time_optimal_parameterization_server" output="screen"/>

  <!-- Start a service to apply Forward Kinematics using MoveIt RobotState -->
  <node name="apply_fk_service" pkg="dual_ur5_control" type="apply_fk_server" output="screen"/>

  <!-- Start a service to get minimum time from TOTG -->
  <node name="get_min_time_service" pkg="raw_totg" type="get_minimum_time_server" output="screen"/>


  <!-- Load moveit controller manager -->
  <include file="$(find dual_ur5_moveit_config)/launch/dual_ur5_moveit_controller_manager.launch" />


</launch>


