<?xml version="1.0"?>

<launch>

  <!-- Launch Gazebo -->
  <include file="$(find ur_gazebo)/launch/dual_ur5_arm_world.launch" />

  <!-- Launch RViz with MoveIt -->
  <include file="$(find dual_ur5_moveit_config)/launch/demo.launch" />

  <!-- Load moveit controller manager -->
  <include file="$(find dual_ur5_moveit_config)/launch/dual_ur5_moveit_controller_manager.launch" />


</launch>


